*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}
.width{
    max-width: 1170px;
    margin: 50px auto;
}
.yellow{
    color: #FF5400;
 }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.navbar h1{
    font-size: 2.2rem;
    font-weight: 700;
    
}
.navbar .home {
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 3rem;
} 
.navbar ul a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.li-item a{
    font-weight: normal;
}

/*{ banner section  }*/
.banner {
    background-image:
        linear-gradient(180deg,
            rgba(19, 19, 24, 0.8) 0%,
            rgba(19, 19, 24, 0) 100%),
        url("../Images/Group 13 (1) (1).png");
    max-width: 1170px;
    min-height: 500px;
    margin: 50px auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text h1{
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;

}
.text p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 20px;
    max-width: 676px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}
form {
    max-width: 75%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    padding: 16px;
  
}
form input[type="text"] {
    padding: 16px;
    border: none;
    border-radius: 8px;
    color:rgba(19, 19, 24, 0.5);
}
form >select {
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.5);
}
.btn {
    padding: 14px ;
    border: none;
    border-radius: 8px;
    background-color: #FF5400;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    background-color: #e14c00;
}
/* tour section */
.tour-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-top: 100px;
}
 .tour-text h2{
     font-size: 2.7rem;
     font-weight: 800;
     color: #131318;    
}
.tour-text p{
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.7);
    margin-top: 24px;
    margin-bottom: 24px;
}
.tour-text ul{
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.7);
    line-height: 24px;
}
.tour-text ul li{
    margin-bottom: 8px;
}
.pp{
    margin-bottom: 24px;
}
.tour-image img{
    max-width: 540px;
    border-radius: 16px;
}
/*Destination Section*/
.sec-h2 {
    font-size: 2.7rem;
    font-weight: 800;
    color: #131318;
    text-align: center;
    margin-bottom: 24px;
}
.sec-para {
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    max-width: 676px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}
.destination-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    margin-bottom: 100px;
}
.destination-content div:nth-child(1),
.destination-content div:nth-child(2) {
    grid-column: span 6;
}
.destination-content div:nth-child(3){
    grid-column: span 4;
}
.destination-content div:nth-child(4){
    grid-column: span 5;
}
.destination-content div:nth-child(5){
    grid-column: span 3;
}
.destination-content div:nth-child(6){
    grid-column: span 5;
}
.destination-content div:nth-child(7){
    grid-column: span 7;
}
.destination-content img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.destination-content div {
    position: relative;
    overflow: hidden;
}

.destination-content strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    font-weight: 800;
    color: #FFFFFF;
}
/* hotel section */
.hotel{
    margin-bottom: 100px;
}
.hotel-view {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 24px;
}
.hotel-view .card-one {
    max-width: 573px;
     min-height: 284px;
     background-color: rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.hotel-view .card-two {
    max-width: 573px;
    min-height: 284px;
    background-color: rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    padding: 32px;
}
.hotel-view .card-three {
    max-width: 573px;
    min-height: 284px;
    background-color:rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    padding: 32px;
}

.hotel-view div:nth-child(1),
.hotel-view div:nth-child(2) {
    grid-column: span 5;
}
.hotel-view div:nth-child(3){
    grid-column: 1 / -1;
    margin: 0 auto;
}
.hotel-view img {
    height: 100%;
    width: 100%;
    
}
i {
    font-size: 4rem;
}
.hotel-view p {
    font-size: 1rem;
    color: #5A5A5D;
    line-height: 26px;
    margin-top: 16px;
    
}
.hotel-view h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
    margin-top: 32px;
}
