*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}
.width{
    max-width: 1170px;
    margin: 50px auto;
}
.yellow{
    color: #FF5400;
 }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.navbar h1{
    font-size: 2.2rem;
    font-weight: 700;
    
}
.navbar .home {
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 3rem;
} 
.navbar ul a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.li-item a{
    font-weight: normal;
}

/*{ banner section  }*/
.banner {
    background-image:
        linear-gradient(180deg,
            rgba(19, 19, 24, 0.8) 0%,
            rgba(19, 19, 24, 0) 100%),
        url("../Images/Group 13 (1) (1).png");
    max-width: 1170px;
    min-height: 500px;
    margin: 50px auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text h1{
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;

}
.text p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 20px;
    max-width: 676px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}
form {
    max-width: 75%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    padding: 16px;
  
}
form input[type="text"] {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    color:rgba(19, 19, 24, 0.5);
}
form >select {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.5);
}
.btn {
    padding: 14px ;
    border: none;
    border-radius: 8px;
    background-color: #FF5400;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    background-color: #e14c00;
}
/* tour section */
.tour-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}